/dconf/
/zsh/oh-my-zsh\
/spotify/
/gh/
/Electron/
/discord/
/procps/
/QtProject.conf
/nvtop/
/glib*/
/gnome-session/
/goa*/
/ibus/
/keyviz/
/menus/
/nautilus/
/qBittorrent/
/wal/
/evolution/
/mimeapps.list
/tool_state
/xfce4/
/cef_user_data/
/monitors.xml
/spicetify/
/spotify/
/user-dirs.dirs
/user-dirs.locale
/gh/
/libreoffice/
/mpv/
/pavucontrol.ini
/.gsd-keyboard.settings-ported
